@using ISCProject_Models;
@{
    ViewData["Title"] = "Home Page";
    List<BigPost> post = ViewBag.post;
    List<User> users = ViewBag.users;
}

<div class="text-center">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            @foreach (var item in post)
            {
                <div class="post-container" data-PostId="@(item.PostId)">
                    <div class="header">
                        <div class="username-post">
                            <img class="avatar" src="~/img/img_avatar.png">
                            <a href="/user/personalPage?AccountId=@(item.AccountId)" class="name">@(item.Username)</a><br />
                            <div class="location">@(item.Checkin)</div>
                        </div>
                        <div class="colasp-menu-post float-right">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </div>
                    </div>
                    <p>@(item.Description)</p>
                    <b>
                        @foreach (var tag in item.hashTags)
                        {
                            <a href="#">@("#" + tag.TagName)</a>
                        }
                    </b>
                    <div class="img-content">
                        <img src="@(item.Images[0].ImageName)" />
                    </div>
                    <div class="reaction-control">
                        <div class="love-button">
                            <i class="fa fa-heart love-click" aria-hidden="true"></i> <span>You, <b>jackma</b> and <b>5 others</b> like this</span>
                        </div>

                    </div>
                    <div class="post-activity">
                        @foreach (var comment in item.Comments)
                        {
                            <div class="post-description">
                                <span class="name-description">@(users.Where(x => x.AccountId == comment.AccountId).First().Username)</span> <span class="comment-content">@(comment.Content)</span>
                            </div>
                        }
                    </div>
                    <div class="comment-box">
                        <form action="/Comments" method="post">
                            <div class="input-group">
                                <input name="Content" type="text" class="form-control comment-input">
                                <input name="PostId" value="@(item.PostId)" hidden />
                                <span class="input-group-btn">
                                    <button class="btn btn-default submit-comment" type="submit">Post</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div class="post-container">

            </div>
        </div>
    </div>
</div>
<!-- Code begins here -->


@*<script>
    window.onscroll = function() {myFunction()};

        var header = document.getElementById("navBar");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
    </script>*@
