@using Microsoft.AspNetCore.Http;
@using ISCProject_Models;
@{
    ViewData["Title"] = "Home Page";
    Profile profile = ViewBag.profile;
    List<Image> images = ViewBag.images;
}
<style>
    #upload-profile-btn {
        width: 10%;
        position: absolute;
        left: 60%;
        bottom: 0%;
        cursor: pointer;
        transition: transform .2s;
     }
        #upload-profile-btn:hover {
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
    #loading {
        position: absolute;
        width: 20%;
        bottom: 23%;
        right: 40%;
    }
</style>
<link href="~/css/usercss.css" rel="stylesheet" />
<div class="text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="profile-picture ">
                <img src="" />
            </div>
            <img id="upload-profile-btn" src="~/img/Circle-icons-upload.svg.png" />
            <img id="loading" src="~/img/LoadingBasketContents.gif" hidden="true" />
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="profile-information ">
                <div class="username">@profile.Username</div>
                <div class="summary-user">
                    <b>@profile.NumPost</b> Posts	&nbsp;	&nbsp;
                    <b>@profile.NumFollowing</b> Following	&nbsp;	&nbsp;
                    <b>@profile.NumFollower</b> Followers	&nbsp;	&nbsp;
                </div>
                <div class="bio">@profile.Info</div>
                <div class="control">
                    @if (ViewBag.current)
                    {
                        <button type="button" class="btn btn-outline-primary">Edit profile</button>
                    }
                    else
                    {
                        if (profile.IsFollowing)
                        {
                            <form action="/user/delete-following" method="get">
                                <input hidden name="AccountId" value="@profile.AccountId" />
                                <button type="submit" class="btn btn-primary" id="delete-follow">Following</button>
                            </form>
                        }
                        else
                        {
                            <form action="/user/add-following" method="post">
                                <input hidden name="AccountId" value="@profile.AccountId" />
                                <button type="submit" class="btn btn-outline-primary" id="add-follow">Follow</button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="images-container">
        <div class="row images-row">
            @foreach (var item in images)
            {
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <img class="post-image" src="@(item.ImageName)" />
                </div>
            }
        </div>

    </div>
</div>
<form id="formDataProfilePic">
    <input type="file" id="profile-picture-upload" name="filesUploaded" accept="image/png, image/jpeg, image/gif" hidden />
</form>

<script>

    $("#delete-follow").mouseenter(function () {
        $(this).text("Unfollow");
        $(this).removeClass("btn-primary");
        $(this).addClass("btn-danger");
    })

    $("#delete-follow").mouseleave(function () {
        $(this).text("Following");
        $(this).removeClass("btn-danger");
        $(this).addClass("btn-primary");
    })
    $("#upload-profile-btn").click(function () {
        $("#profile-picture-upload").click();
    })
    $("input#profile-picture-upload").change(function () {
        $("#loading").attr("hidden", false);
        var file = document.getElementById("profile-picture-upload").files[0];
        var formData = new FormData();
                formData.append("filesUploaded", file);
                formData.append("email", "tuankqhe130156@fpt.edu.vn")

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "https://srv-file9.gofile.io/upload",
                    "method": "POST",
                    "processData": false,
                    "contentType": false,
                    "mimeType": "multipart/form-data",
                    "data": formData
                };
                $.ajax(settings).done(function (response) {
                    let code = JSON.parse(response)["data"]["code"];
                    $.ajax({
                        url: "https://srv-file9.gofile.io/getUpload?c=" + code,
                        contentType: "application/json",
                        dataType: 'json',
                        method: 'GET',
                        success: function (result) {
                            var uploadProfilePicture = "@Context.Session.GetString("Username")|" + result["data"]["files"][0]["link"]
                            $.ajax({
                                url: "@Environment.GetEnvironmentVariable("BaseAPI")" + "ProfilePicture",
                                dataType: 'json',
                                method: 'POST',
                                data: {
                                    uploadProfilePicture: uploadProfilePicture
                                },
                                success: function (result) {
                                    $("#loading").attr("hidden",true)
                                    location.reload();
                                }
                            });

                        }
                    });
                });
    });
</script>