@using Microsoft.AspNetCore.Http;
@using ISCProject_Models;
@{
    ViewData["Title"] = "Home Page";
    Profile profile = ViewBag.profile;
}
<link href="~/css/usercss.css" rel="stylesheet" />
<div class="text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="profile-picture ">
                <img src="~/img/img_avatar.png" />
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="profile-information ">
                <div class="username">@profile.Username</div>
                <div class="summary-user">
                    <b>@profile.NumPost</b> Posts	&nbsp;	&nbsp;
                    <b>@profile.NumFollowing</b> Following	&nbsp;	&nbsp;
                    <b>@profile.NumFollower</b> Followers	&nbsp;	&nbsp;
                </div>
                <div class="bio">@profile.Info</div>
                <div class="control">
                    @if (ViewBag.current)
                    {
                        <button type="button" class="btn btn-outline-primary">Edit profile</button>
                    }
                    else
                    {
                        if (profile.IsFollowing)
                        {
                            <button type="button" class="btn btn-outline-primary" style="background-color: #007bff; color: white">Following</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-outline-primary">Follow</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="images-container">
        <div class="row images-row">
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12">
                <img class="post-image" src="~/img/1.jpg" />
            </div>
        </div>

    </div>
</div>
