@using Microsoft.AspNetCore.Http;
@using ISCProject_Models;
@{
    ViewData["Title"] = "Home Page";
    Profile profile = ViewBag.profile;
    List<Image> images = ViewBag.images;
}
<link href="~/css/usercss.css" rel="stylesheet" />
<div class="text-center">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="profile-picture ">
                <img src="~/img/img_avatar.png" />
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="profile-information ">
                <div class="username">@profile.Username</div>
                <div class="summary-user">
                    <b>@profile.NumPost</b> Posts	&nbsp;	&nbsp;
                    <b>@profile.NumFollowing</b> Following	&nbsp;	&nbsp;
                    <b>@profile.NumFollower</b> Followers	&nbsp;	&nbsp;
                </div>
                <div class="bio">@profile.Info</div>
                <div class="control">
                    @if (ViewBag.current)
                    {
                        <button type="button" class="btn btn-outline-primary">Edit profile</button>
                    }
                    else
                    {
                        if (profile.IsFollowing)
                        {
                            <form action="/user/delete-following" method="get">
                                <input hidden name="AccountId" value="@profile.AccountId" />
                                <button type="submit" class="btn btn-primary" id="delete-follow">Following</button>
                            </form>
                        }
                        else
                        {
                            <form action="/user/add-following" method="post">
                                <input hidden name="AccountId" value="@profile.AccountId" />
                                <button type="submit" class="btn btn-outline-primary" id="add-follow">Follow</button>
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="images-container">
        <div class="row images-row">
            @foreach (var item in images)
            {
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <img class="post-image" src="@(item.ImageName)" />
                </div>
            }
        </div>

    </div>
</div>

<script>
    $("#delete-follow").mouseenter(function () {
        $(this).text("Unfollow");
        $(this).removeClass("btn-primary");
        $(this).addClass("btn-danger");
    })

    $("#delete-follow").mouseleave(function () {
        $(this).text("Following");
        $(this).removeClass("btn-danger");
        $(this).addClass("btn-primary");
    })
</script>